<h3>Lista de Cervezas</h3>
<table>
    <thead class="cabecera">
        <tr>
            <th>Imagen</th>
            <th>Nombre</th>
            <th>Tipo</th>
            <th>Precio</th>
            <th>Stock</th>
            <th>Cantidad</th>
            <th>Compra</th>
        </tr>
    </thead>
    <tbody class="cuerpo">
        <tr *ngFor="let beer of beers" [ngClass]="{'offer': beer.offer}">
            <td><img width="100" [src]="beer.image" [alt]="beer.name"></td>
            <td>{{beer.name | uppercase}}</td>
            <td>{{beer.type}}</td>
            <td>{{beer.price | currency}}</td>
            <td><span *ngIf="beer.stock==0">STOCK AGOTADO</span></td>
            <td><app-input-number [(quantity)]="beer.quantity" [max]="beer.stock" *ngIf="beer.stock" (maxReached)="maxReached($event)"></app-input-number></td>
            <td><button (click)="addToCart(beer)">Comprar</button></td>
        </tr>
    </tbody>
</table>