<table>
    <thead class="cabecera">
        <tr>
            <th>Imagen</th>
            <th>Nombre</th>
            <th>Tipo</th>
            <th>Stock</th>
            <th>Precio</th>
        </tr>
    </thead>
    <tbody class="cuerpo">
        <tr *ngFor="let beer of beers">
            <td><img [src]="beer.image" [alt]="beer.name"></td>
            <td>{{beer.name}}</td>
            <td>{{beer.type}}</td>
            <td>{{beer.stock}}</td>
            <td>{{beer.price}}</td>
        </tr>
    </tbody>
</table>